<h1 class="text-center mt-4">Welcome to The Gossip Project Returns !</h1>
<div class="container mt-4">
  <% @gossips.each do |gossip| %>
    <div class="card mb-3 bg-dark text-light">
      <!-- Ajoutez les cla
    sses bg-dark et text-light ici -->
      <div class="card-body">
        <h5 class="card-title"><%= gossip.title %></h5>
        <p class="card-text">By: <%= gossip.user.first_name %></p>
        <%= link_to 'Voir plus', gossip_path(gossip), class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
