<h1>Alors mon gros, on aime les bopotins ?!</h1>
<div class="container mt-4">
  <div class="card bg-dark text-light"> <!-- Ajoutez les classes bg-dark et text-light ici -->
    <div class="card-body">
      <h5 class="card-title"><%= @gossip.title %></h5>
      <p class="card-text"><%= @gossip.content %></p>
    </div>
  </div>
</div>
