<div class="container mt-4">
  <h1 class="text-center">C'est ÇA l'équipe !</h1>
  <div class="row">
    <!-- Exemple de membre de l'équipe -->
    <div class="col-md-4">
      <div class="card mb-4">
        <img src="https://www.pokemontrash.com/pokedex/images/sugimori/054.png" class="card-img-top" alt="Captain of the Team">
        <div class="card-body">
          <h5 class="card-title">Robin Potin Couffin</h5>
          <p class="card-text">"A vrai dire. C'est à dire que j'ai si peu à dire."</p>
        </div>
      </div>
    </div>
    <!-- Répétez ce bloc pour chaque membre de l'équipe -->
    <div class="col-md-4">
      <div class="card mb-4">
        <img src="https://cdn.dribbble.com/users/88529/screenshots/4852160/media/af24a0b11b0452d617b81efac739721a.png" class="card-img-top" alt="Eminent member of the Team">
        <div class="card-body">
          <h5 class="card-title">Boo le foofoo</h5>
          <p class="card-text">"Boo."</p>
        </div>
      </div>
    </div>
  </div>
</div>
